/*
 * Colors:
Menu-bar: #003fa2
Accents: #6e7ca0
Background: #c7c9c7
Hover?: #e4e7e4
*/
.menu {
	background: #002E5D;
	min-height:8vh;
}

.menu a {
	color: #e6e6e6 !important;
}

.menu a:hover{
	color: white !important;
}

.footer {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 12vh;
	background: #002E5D;
}
.footer a {
	color: #e6e6e6 !important;
	text-decoration:none;
}

.footer a:hover {
	color: white !important;
}

.title {
	text-align: center;
	margin-top: 0.5em;
	font-size:50pt;
}

.subtitle {
	text-align: center;
	font-size:30pt;
	color:black;
}
.subsubtitle {
	text-align: center;
	font-size:15pt;
}

.page, body {
	background-color: #f2f2f2;
}

.basictext{
	color:white;
}
.basicText {
	font-size: 30pt;
	align-items: center;
}

.clickable:hover {
	color: #e4e7e4
}


/* Building CSS */
.building-container {
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
}

.buildingBlock{
	display:flex;
	flex-direction:row;
	margin: 1em 0 1em 0;
	background: #e6e6e6;
	align-items:center;
}

.buildingBlock:nth-child(even){
	flex-direction: row-reverse;
	border-radius: 20em 0 0 20em;
	margin-left: 1em;
}

.buildingBlock:nth-child(odd){
	border-radius: 0 20em 20em 0;
	margin-right: 1em;
}
.buildingBlock:last-child {
	margin-bottom:2em;
}

.buildingBlock:first-child {
	margin-top:2em;
}
 .bText{
	 padding: 50px;
	 font-size: 1.8vw;
	 line-height:2;
	 align-self: center;
	 text-align:center;
 }
 .bImg{
	 width:33vw;
	 height:auto;
 }

/* About us css */

.profile {
display: flex;
flex-direction: row;
align-items:center;
justify-content:space-around;
margin: 2em 5em 2em 5em;
}

.profile > div {
	width:50%;
	margin-left:1em;
}
.profile p {
	line-height:2;
	font-size:2vw;

}
.profile h2 {
	text-align:center;
}

.profiles {

}

/* Advice css */
.quotes{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}
.quote {
	color:#4169e1;
	margin: 1vw 2vw 2vw 1vw;
	width: 10em;
	text-align:center;
	border-radius: 1em;
	font-size: 25pt;
	font-weight:bold;
	display: flex;
	justify-content:center;
	align-items:center;
	background: #e6e6e6;
	line-height:2;
	padding:0.5em;
}
/* Index css */
.clickable{
width: 400px;
height: auto;
margin: 5px;
}
.picBox{
	display: flex;
	flex-direction:column;
	align-items:center;
}
.clickBoxes{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}
.mainPage{
	font-size: 10w;
}

@media only screen and (max-width: 600px) {
	.bText{
		font-size: 4vw;
	}
	.building-container{
		justify-content:center;
		align-items:center;
	}
	.buildingBlock {
		justify-content:center;
		flex-direction:column;
		width: 90%;
		background-color: #f2f2f2;
	}
	.buildingBlock:nth-child(even){
		justify-content:center;
		margin: 0 0 0 0;
		flex-direction:column;
	}
	.bImg {
		width:75%;
	}
	.clickBoxes{
		flex-direction: column;
	}
	.quote{
		font-size: 13pt;
		width:10em;
	}
	.subsubtitle{
		padding: 2px;
	}
	.profile{
		flex-direction: column;
		line-height: 1;
	}
	.profile > div {

		width: 100%;
	}
	.profile img{
		width:100%;
		height: auto;
	}
	.profile .simpletext {
		font-size: 15pt;
	}
}
